* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

/* Hàng chứa cột */
.row {
  width: 100%;
}

/* Các cột */
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
  height: 200px;
}

/* Màu từng cột */
.col1 {
  background-color: #aaa;
}

.col2 {
  background-color: #bbb;
}

.col3 {
  background-color: #ccc;
}

/* Clear float */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
