* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.box {
    width: 850px;
    border: 2px solid #666;
    margin: 40px auto;
    overflow: hidden;   /* giá»¯ float */
}

.left {
    width: 220px;
    float: left;
    background-color: #e6e6e6;
    border-right: 1px solid #999;
}

.left p {
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.left .title {
    background-color: #8c8c8c;
    color: white;
    font-weight: bold;
}

.right {
    width: calc(100% - 220px);
    float: left;
    padding: 20px;
}
