* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
}

.container {
    width: 850px;
    margin: 40px auto;
    border: 2px solid #666;   /* viền giống ảnh */
    background-color: #fff;
    overflow: hidden;
}

.menu {
    width: 220px;
    float: left;
    background-color: #f0f0f0;
    border-right: 1px solid #999;
    min-height: 350px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.menu li.active {
    background-color: #8c8c8c;
    color: white;
    font-weight: bold;
}

.content {
    width: calc(100% - 220px);
    float: left;
    padding: 20px;
}

.content h2 {
    margin-top: 0;
    font-size: 22px;
}

.content h3 {
    margin-top: 15px;
}
