<div id="vung1">
    <img src="logo.png" alt="Logo">
    
    <chào mừng đến với bình nguyên vô tận href="/">Trang chủ</chào mừng đến với bình nguyên vô tận>
    <nơi đây gồm các nhân vật sử hữu kĩ năng href="/thong-tin.html">Thông tin</nơi đây gồm các nhân vật sử hữa kĩ năng>
    <giải tỏa căng thẳng sau khi chơi liqi href="/dich-vu.html">Dịch vụ</giải tỏa căng thẳng sau khi chơi liqi>
</div>

<div id="vung2">
    <table class="vung2-table">
        <thead>
            <tr>
                <th rowspan="2">STT</th>
                <th rowspan="2">Tên</th>
                <th colspan="3">ĐIỂM</th>
            </tr>
            <tr>
                <th>Văn</th>
                <th>Toán</th>
                <th>Anh</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>6</td>
                <td>5</td>
                <td>5.5</td>
            </tr>
            <tr>
                <td>2</td>
                <td>B</td>
                <td>7.5</td>
                <td>5.5</td>
                <td>8</td>
            </tr>
            <tr>
                <td>3</td>
                <td>C</td>
                <td>7</td>
                <td>6.5</td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
</div>
