* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

.container {
    width: 800px;
    margin: 30px auto;
    border: 1px solid #333;
    background-color: #fff;
    overflow: hidden;
}

.menu {
    width: 200px;
    float: left;
    background-color: #e6e6e6;
    height: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.menu li.active {
    background-color: #888;
    color: white;
}

.content {
    width: 600px;
    float: left;
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}
